{
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./"],
          "alias": {
            "@screens": "./screens",
            "@assets": "./assets",
            "@components":"./components",
            "@api":"./api",
            "@utils":"./utils"
          }
        }
      ]
    ]
}
  
